@import url(https://fonts.googleapis.com/css?family=Montserrat:500,600,700);

$font-family: "Montserrat", sans-serif;
$font-color: #000000;

.wrapper {
  // display: grid;
  // grid-template-areas:
  //   ". header ."
  //   ". main ."
  //   ". footer .";
  // grid-template-columns: auto 1fr auto;
  // grid-template-rows: 80px 1fr 350px;
  max-width: 1400px;
  margin: auto;

  font-family: $font-family;
  color: $font-color;
}

footer {
  // grid-area: footer;
  width: 100%;
  height: 200px;
  background-color: rgba(0, 255, 255, 0.164);
}

main {
  // grid-area: main;
  width: 100%;
  // background-color: rgba(106, 0, 255, 0.132);
}

header {
  // grid-area: header;
  width: 100%;
  background-color: rgba(255, 0, 0, 0.148);
}

.header {
  margin-right: -100px;
  background: #f8f1ea;
  // .header__container

  &__container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
}

.nav {
  // .nav__list

  &__list {
    display: flex;
  }

  // .nav__item

  &__item {
    height: 80px;
  }

  &__item:hover {
    background-color: #f16a50;
  }

  // .nav__link

  &__link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: $font-color;
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
  }

  &__item:hover &__link {
    color: #ffffff;
  }
}
.search {
  display: flex;
  gap: 30px;
  cursor: pointer;
}
.serch-form input {
  display: none;
}

.hero {
  //   position: relative;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.84) 0%,
    rgba(217, 217, 217, 0) 100%
  );
  // .hero__container

  &__container {
    position: relative;
  }
}
.cards {
  display: flex;
  max-width: 1400px;
}
.card {
  position: relative;

  flex-shrink: 0;
  max-width: 100%;
}

.card-bgc img {
  width: 100%;
  height: auto;
}

.hero-title {
  position: absolute;
  top: 110px;
  right: 100px;

  max-width: 387px;
  height: auto;
  text-align: center;
}
.card-title {
  font-weight: 700;
  font-style: normal;
  font-size: 50px;
  line-height: 1.22;
  text-transform: uppercase;
  color: #f8f1ea;
  margin-bottom: 50px;
}
.card-btn {
  color: #ffffff;
  background: transparent;
  border: 2px solid #f8f1ea;
  padding: 15px 57px;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(248, 241, 234, 0.7);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #f16a50;
}

.arrivals__container {
  position: relative;
  max-width: 1200px;
  margin: auto;
}

.arrival-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-top: 70px;
  margin-bottom: 50px;
}

.arrival-item img {
  width: 100%;
}

.swiper-button-next {
  right: -40px;
}

.swiper-button-prev {
  left: -40px;
}

.svg-next:hover svg path,
.svg-prev:hover svg path {
  fill: #f16a50;
}

.guitars {
  padding-right: 21px;
}

.arrival-list {
  margin-bottom: 55px;
}

.arrival-item {
  position: relative;

  display: flex;
  flex-direction: column;
  border: 1px solid #f8f1ea;
  // .arrival-item__avilable

  &__avalable {
    position: absolute;
    top: 0;
    left: 0;

    // .arrival-item__avilable_true

    &_true {
      background: #f16a50;
      color: #f8f1ea;
      width: 60px;
      height: 20px;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 10px;
      line-height: 12px;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &_false {
      background: #a650f1;
      width: 60px;
      height: 20px;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 10px;
      line-height: 12px;
      text-transform: uppercase;
      color: #000000;
      background: #f8f1ea;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.arrival-item h3 {
  flex-grow: 1;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  margin-bottom: 10px;
  padding: 0 8px;
}

.arrival-item p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
}

.arrival-item img {
  margin-bottom: 10px;
}

.arrival {
  display: flex;
  flex-direction: column;
}

.arrival button {
  border: 2px solid #000000;
  width: 220px;
  height: 50px;
  margin: 0 auto 70px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background: #fff;
}

.partners__container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.partners {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-bottom: 70px;
}

.partners__container {
  max-width: 1200px;
  margin: auto;
}

.partners .partners-item {
  flex-shrink: 1;
}

.partners .swiper-button-next {
  right: -40px;
  position: absolute;
}

.partners .swiper-button-prev {
  left: -40px;
  position: absolute;
}

.partners .partners-svg-next:hover svg path,
.partners .partners-svg-prev:hover svg path {
  fill: #f16a50;
}

.swiper-wrapper.partners-list {
  align-items: center;
}

.partners-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-top: 70px;
  margin-bottom: 40px;
}
